*{
    box-sizing:border-box;
}
@font-face {
    font-family: Inconsolata, sans-serif;
}
@font-face {
    font-family: PlayfairDisplay, sans-serif;
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: Ubuntu-Light, sans-serif;
    src: url('../fonts/Ubuntu-Light.ttf');
}
body{
    width:1200px;
    font-family: PlayfairDisplay, sans-serif;
    margin: 0 auto;
    color: #626262;
}
footer{
    width:1200px;
}

/*FLEXBOX CSS*/
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-around{
    justify-content: space-around
}
.align-items-center{
    align-items:center;
}
.flex-wrap{
    flex-wrap:wrap;
}
.w-25{
    width:25%;
}
.w-50{
    width:50%;
}
.w-75{
    width:75%;
}
.w-100{
    width:100%;
}


/*NAVIGATIE*/
body header h1{
    font-family: Inconsolata;
}
nav{

}
nav ul li{
    padding-left:100px;
    list-style:none;
    padding-top: 55px;
}
nav ul li a{
    text-decoration:none;
    color:#6c6c6c;
    font-size:14pt;
    font-family: PlayfairDisplay;
}
nav ul li a:hover {
    border-bottom: 3px solid #5094f2;
    padding-bottom: 5px;
}
#navbar header{
    margin-top: 40px;
}
/*NAVIGATIE END*/
/*Section One*/
#achtergrondfoto{
    padding-left: 50px;
    width:1200px;
}
#photodiary{
    padding-top: 90px;
}
main section article{
    padding-left: 80px;
    padding-right: 80px;
}
main section article header h3{
    font-size: 14pt;
}
main section article header h2{
    font-size: 30pt;
}
#comment{
   padding-top:30px;
    font-family: Ubuntu-Light;
    font-size: 14pt;
}
/*END SECTION ONE*/
/*START SECTION TWO*/
#sectiontwo{
    padding-top: 110px;
}
h3{
    font-family: Ubuntu-Light;
    font-size: 14pt;
}
h2{
    font-family: PlayfairDisplay;
    font-size: 25pt;
}
#articles{
    padding-top: 150px;
}
/*END SECTION TWO*/
/*START SECTION NEWSLETTER*/
#nieuwsbrief{
    background-color: #f0f0f0;
    margin-top: 120px;
    padding-bottom: 70px;
    padding-top: 70px;
}
#formmail{
    border-bottom:1px solid #626262;
    color:#626262;
}
#nieuwsbriefbox{
    width:365px;
    margin: 0 auto;
}

#formmail > input[type=email]{
    border:0px;
    background:#f0f0f0;
}
#formmail > button{
    border:0px;
    background:#f0f0f0;
}

/*END SECTION NEWSLETTER*/
/*START SECTION THREE*/
#sectionthree{
    padding-top: 120px;
}

#load{
    margin:235px 0px 1350px 0px;
}
#load button{
    border-radius: 0px;
    border-style: none;
    border: 1px solid black;
    background: white;
    padding: 10px;
    font-size: 20pt;
    font-family: PlayfairDisplay;
}
/*END SECTION THREE*/

/*START FOOTER*/
/*
#footbar{
    background-color: #f0f0f0;
    padding-left: 150px;
    padding-right: 67px;
    margin-top: 1000px;
}
#footbarlinks{

}
#footbarlinks a{
    padding-right: 18px;
    color: #626262;
}
#footbarrechts{

}
*/
footer{
    background: #f0f0f0;
    color: #626262;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: PlayfairDisplay-Regular;
    font-size: 14pt;
}
footer a{
    color: #626262;
    text-decoration:none;
}
#terms{
    padding-left:50px;
}
#social > *{
    padding:0px 10px;
}

/*END FOOTER*/